
<form method="post" action="<%= cat.nil? ? cats_url : cat_url(cat.id) %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value='<%= cat ? "put" : "post" %>'>

  <label for="cat-name"> Cat Name: </label>
  <input id="cat-name" type="text" name="cat[name]" value="<%= cat.name unless cat.nil? %>"></input> <br>

  <label for="sex">Sex:</label> <br>
  <input id="sex" type="radio" name="cat[sex]" value="M" <%= "checked" if cat.nil? || cat.sex == "M" %> > M </input> <br>
  <input id="sex" type="radio" name="cat[sex]" value="F" <%= "checked" if cat && cat.sex == "F" %> > F </input> <br>

  <label for="color">Pick cat color!</label><br>
  <select id="color" name="cat[color]">
    <option value=""></option>
    <option value="brown" <%= "selected" if cat && cat.color == "brown" %> >Brown</option>
    <option value="orange" <%= "selected" if cat && cat.color == "orange" %> >Orange</option>
    <option value="black" <%= "selected" if cat && cat.color == "black" %> >Black</option>
    <option value="calico" <%= "selected" if cat && cat.color == "calico" %> >Calico</option>
  </select>
  <br>

  <label for="birth_date">Pick the birth date!</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date unless cat.nil? %>"></input><br>

  <label for="description">Describe your cat:</label>
  <textarea id="description" name="cat[description]" ><%= cat.description unless cat.nil? %></textarea>
  <br>

  <button type="submit">Submit</button>
</form>
