<% if cat.persisted? %>
  <% action, value = cat_url(cat.id), "put" %>
<% else %>
  <% action, value = cats_url, "post" %>
<% end %>

<form method="post" action="<%= action %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value='<%= value %>'>

  <label for="cat-name"> Cat Name: </label>
  <input id="cat-name" type="text" name="cat[name]" value="<%= cat.name %>">
  <br>

  <label for="male_sex">Male</label>
  <input id="male_sex" type="radio" name="cat[sex]" value="M" <%= "checked" if cat.sex == "M" %> >
  <label for="female_sex">Female</label>
  <input id="female_sex" type="radio" name="cat[sex]" value="F" <%= "checked" if cat.sex == "F" %> >
  <br>

  <label for="color">Pick cat color!</label><br>
  <select id="color" name="cat[color]">
    <option ></option>
    <% Cat::CAT_COLOR.each do |color| %>

      <option
        value="<%= color %>"
        <%= "selected" if cat.color == color %> >
        <%= color.capitalize %>
      </option>

    <% end %>

  </select>
  <br>


  <label for="birth_date">Pick the birth date!</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>"></input><br>

  <label for="description">Describe your cat:</label>
  <textarea id="description" name="cat[description]" ><%= cat.description %></textarea>
  <br>

  <button type="submit">Submit</button>
</form>
