<h1><%= @cat.name %></h1>

<table>
  <% @cat.attributes.each do |key, val| %>
    <% next if key == "id" || key == "name" %>
    <tr>
      <td> <%= key == "birth_date" ? "age" : key %> </td>
      <td> <%= key == "birth_date" ? @cat.age : val %> </td>
    </tr>
  <% end %>
</table><br>

<table>
  <tr>
    <th> Request ID </th>
    <th> Start Date </th>
    <th> End Date   </th>
    <th> Approve </th>
  </tr>

  <% @cat.cat_rental_requests.sort_by { |request| request.start_date }.each do |request| %>
    <tr>
      <td> <%= request.id %> </td>
      <td> <%= request.start_date %> </td>
      <td> <%= request.end_date %> </td>
      <td> <%= (button_to "Approve", approve_cat_rental_request_url(request), method: "patch") if request.status == "Pending" %> </td>
    </tr>
  <% end %>
</table>
