<h1><%= @cat.name %></h1>

<% if current_user != @cat.owner %>
  <a href="<%= new_cat_rental_request_url(id: @cat.id) %>">Rent this cat!</a>
<% end %>
<table>
  <tr>
    <td> age </td>
    <td> <%= @cat.age %> </td>
  </tr>

  <tr>
    <td> color </td>
    <td> <%= @cat.color %> </td>
  </tr>

  <tr>
    <td> owner </td>
    <td> <%= @cat.owner.username %> </td>
  </tr>

  <tr>
    <td> description </td>
    <td> <%= @cat.description %> </td>
  </tr>

</table><br>

<table>
  <tr>
    <th> Request ID </th>
    <th> Start Date </th>
    <th> End Date   </th>
    <th> Requester Username </th>
    <th> Approve </th>
  </tr>

  <% @cat.cat_rental_requests.includes(:requester).sort_by { |request| request.start_date }.each do |request| %>
    <tr>
      <td>
        <%= request.id %>
      </td>

      <td>
        <%= request.start_date %>
      </td>

      <td>
        <%= request.end_date %>
      </td>

      <td>
        <%= request.requester.username %>
      </td>

      <td>
        <%= (button_to "Approve", approve_cat_rental_request_url(request), method: "patch") if request.status == "Pending" && @cat.owner == current_user %>
      </td>
    </tr>
  <% end %>
</table>
