<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if !current_user %>
    <form method="get" action='<%= new_session_url %>'>
      <button type="submit" >Sign In</button>

  <% else %>

    <h1>
      <%= current_user.username %>
    </h1>

    <form method="post" action='<%= session_url %>'>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value='delete'>
      <button type="submit">Sign Out</button>

  <% end %>
    </form>

<%= yield %>

</body>
</html>
